﻿@{
    ViewData["Title"] = "Home Page";
}

<style type="text/css">
    tr.group,
    tr.group:hover {
        background-color: #ddd !important;
    }
</style>

<table id="example" class="table table-striped table-bordered table-hover" width="100%">
    <thead>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
</table>

@section Scripts{

    <script type="text/javascript">
        var groupColumn = 0;
        $(document).ready(function () {
            $('#example').DataTable().destroy();
            var table = $("#example").DataTable({
                "processing": true, 
                "language": {
                    processing: '<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i><span class="sr-only">Loading...</span> '
                },
                "serverSide": true, 
                "ajax": {
                    "url": "/Home/GetData",
                    "type": "POST",
                    "datatype": "json"
                },
                "columnDefs": [
                    { "visible": false, "targets": groupColumn }
                ],
                "order": [[groupColumn, 'asc']],
                "displayLength": 25,
                "drawCallback": function (settings) {
                    var api = this.api();
                    var rows = api.rows({ page: 'current' }).nodes();
                    var last = null;

                    api.column(groupColumn, { page: 'current' }).data().each(function (group, i) {
                        if (last !== group) {
                            $(rows).eq(i).before(
                                '<tr class="group"><td colspan="5">' + group + '</td></tr>'
                            );

                            last = group;
                        }
                    });
                },
                "columns": [
                    { "data": "post", "name": "post", "autoWidth": true },
                    { "data": "message", "name": "message", "autoWidth": true },
                    { "data": "feedbackBy", "name": "feedbackBy", "autoWidth": true },
                    {
                        data: "feedbackDate",
                        render: function (d) {
                            if (d !== null && d !== '' && d !== undefined && d !== '0001-01-01T00:00:00') {
                                return moment(d).format("DD/MM/YYYY");
                            } else {
                                return '';
                            }
                        }, "name": "feedbackDate", "autoWidth": true
                    },
                    {
                        "render": function (data, type, full) {
                            return '<span class="badge badge-success" title="Like">' + full.like + '</span > <span class="badge badge-danger" title="Dislike">' + full.dislike + '</span >';
                        }
                        , "orderable": false
                        , "autoWidth": true
                    },
                ]
            });

            $('#example tbody').on('click', 'tr.group', function () {
                var currentOrder = table.order()[0];
                if (currentOrder[0] === groupColumn && currentOrder[1] === 'asc') {
                    table.order([groupColumn, 'desc']).draw();
                }
                else {
                    table.order([groupColumn, 'asc']).draw();
                }
            });
        });
    </script>
}
